@import 'fonts.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid {
    background-color: #EDE4DB;
}
/* left_bar */
#left_bar {
    padding-left: 0;
    padding-right: 0;
    background-color: #EFA0AE;
}
#left_bar > nav {
    width: 100%;
    height: 100vh;
}
#left_bar > nav > img {
    width: 100%;
    height: auto;
}
#left_bar > nav > ul {
    width: 100%;
    height: auto;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
#left_bar > nav > ul > li {
    padding: 12px;
    width: 100%;
    text-align: center; 
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: 400;    
    font-size: 12px; 
    line-height: 1.5;
}
/* main */
#find {
    position: relative;
}
#find > .exit {
    width: 85px;
    height: 34px;
    margin: 0;
    background-color: #D6C4B5;
    border: none;
    border-radius: 0;
    position: absolute;
    top: 0px;
    right: -12px;
    left: auto;
    font-family: 'Basis Grotesque Pro';
    font-weight: 500;
    font-size: 14px;
    color: #000;
    line-height: auto;
    text-transform: uppercase;
}
#find > input {
    width: 517px;
    height: 31px;
    margin-top: 20px;
    margin-left: 28px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #C45061;
    border: none;
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: 400;    
    font-size: 14px; 
    color: #fff;
}
#find > input::placeholder {
    color: #fff;
    margin-left: 16px;
}
#find > input:focus, #find > button:focus {
    outline: none;
}
#find > button {
    width: 153px;
    height: 31px;
    margin-top: 20px;
    margin-left: 19px;
    background-color: #C45061;
    border: none;
    border-radius: 37px;
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: 400;    
    font-size: 14px; 
    color: #fff;
}
#find > .table_orders {
    width: auto;
    height: 47px;    
    margin-top: 11px;
    margin-left: -12px;
    margin-right: -12px;
    background-color: #D6C4B5;
    display: flex;
    align-items: center;
}
#find > .table_orders > .status {
    width: 100%;    
    display: flex;
    justify-content: space-between;
    margin-left: 51px;
    margin-right: 67px;
}
#find > .table_orders > .status > p {
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: 400;    
    font-size: 14px; 
    margin-bottom: 0;
    text-align: center;
}
#find > .table_orders > .status > :nth-child(1) {
    width: 44px;
}
#find > .table_orders > .status > :nth-child(2) {
    width: 62px;
}
#find > .table_orders > .status > :nth-child(3) {
    width: 113px;
}
#find > .table_orders > .status > :nth-child(4) {
    width: 130px;
}
#find > .table_orders > .status > :nth-child(5) {
    width: 118px;
}
#find > .table_orders > .status > :nth-child(6) {
    width: 107px;
}
#orders {
    margin-top: 17px;
}
#orders > .order {
    width: 100%;
    height: 46px;
    background-color: #D6C4B5;
    border: none;
    border-radius: 7px;
    display: flex;
    align-items: center;    
    margin-bottom: 11px;
}
#orders > .order > .info {
    width: 100%;    
    display: flex;
    justify-content: space-between;
    margin-left: 28px;
    margin-right: 27px;
}
#orders > .order > .info > p {
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: 400;    
    font-size: 13px; 
    margin-bottom: 0;
    text-align: center;
}
#orders > .order > .info > :nth-child(1) {
    width: 44px;
}
#orders > .order > .info > :nth-child(2) {
    width: 62px;
}
#orders > .order > .info > :nth-child(3) {
    width: 113px;
}
#orders > .order > .info > :nth-child(4) {
    width: 130px;
}
#orders > .order > .info > :nth-child(5) {
    width: 118px;
}
#orders > .order > .info > :nth-child(6) {
    width: 107px;
}