@import 'fonts.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid {
    background-color: #EDE4DB;
}
/* left_bar */
#left_bar {
    padding-left: 0;
    padding-right: 0;
    background-color: #EFA0AE;
}
#left_bar > nav {
    width: 100%;
    height: 100vh;
}
#left_bar > nav > img {
    width: 126px;
    height: 77px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#left_bar > nav > ul {
    width: 100%;
    height: auto;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
#left_bar > nav > ul > :nth-child(11) {
    height: 60px;
}
#left_bar > nav > ul > li {
    padding: 12px;
    width: 100%;
    height: 41px;
    text-align: center; 
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: 400;    
    font-size: 12px; 
}
/* main */
#find_order > .exit {
    width: 85px;
    height: 34px;
    background-color: #D6C4B5;
    border: none;
    border-radius: 0;
    position: absolute;
    top: -20px;
    right: -12px;
    left: auto;
    font-family: 'Basis Grotesque Pro';
    font-weight: 500;
    font-size: 14px;
    color: #000;
    line-height: auto;
    text-transform: uppercase;
}
#find_order {
    position: relative;
    margin-top: 20px;
}
#find_order > input {
    width: 240px;
    height: 31px;
    background-color: #C45061;
    border: none;
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: 400;    
    font-size: 14px; 
    color: #fff;
    text-align: center;
    margin-left: 26px;
}
#find_order > input::placeholder {
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: 400;    
    font-size: 14px; 
    color: #fff;
}
#find_order > input:focus {
    outline: none;
}
#find_order > select {
    width: 251px;
    height: 31px;
    background-color: rgba(196, 80, 97, 0.5);
    border: none;
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: 400;    
    font-size: 14px; 
    color: #fff;
    text-align: center;
    margin-left: 22px;
}
#find_order > select:focus {
    border: none;
    outline: none;
}
#find_order > button {
    width: 153px;
    height: 31px;
    background-color: #C45061;
    border: none;
    border-radius: 37px;
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: 400;    
    font-size: 14px; 
    color: #fff;
    margin-left: 23px;
}
#find_order > .table_orders {
    width: auto;
    height: 47px;
    margin-top: 11px;
    margin-left: -12px;
    margin-right: -12px;
    background-color: #D6C4B5;
    display: flex;
    align-items: center;
}
#find_order > .table_orders > .status {
    width: auto;    
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}
#find_order > .table_orders > .status > p {
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: 400;    
    font-size: 14px; 
    margin-bottom: 0;
    text-align: center;
}
#find_order > .table_orders > .status > :nth-child(1) {
    width: 80px;
}
#find_order > .table_orders > .status > :nth-child(2) {
    width: 62px;
    margin-left: 42px;
}
#find_order > .table_orders > .status > :nth-child(3) {
    width: 29px;
    margin-left: 70px;
}
#find_order > .table_orders > .status > :nth-child(4) {
    width: 42px;
    margin-left: 53px;
}
#find_order > .table_orders > .status > :nth-child(5) {
    width: 63px;
    margin-left: 23px;
}
#find_order > .table_orders > .status > :nth-child(6) {
    width: 86px;
    margin-left: 8px;
}
#find_order > .table_orders > .status > :nth-child(7) {
    width: 44px;
    margin-left: 12px;
}
#orders > .order {
    width: 100%;
    height: auto;
    margin-top: 17px;
    margin-bottom: 17px;
    padding: 15px;
    background-color: #D6C4B5;
    border: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    position: relative;
}
#orders > .order > .status {
    width: 600px;    
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
#orders > .order > .status > p {
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: 400;    
    font-size: 13px; 
    text-align: center;
    margin-bottom: 0;
}
#orders > .order > .status > :nth-child(1) {
    width: 50px;
}
#orders > .order > .status > :nth-child(2) {
    width: 107px;
}
#orders > .order > .status > :nth-child(3) {
    width: 55px;
}
#orders > .order > .status > :nth-child(4) {
    width: 50px;
}
#orders > .order > .status > :nth-child(5) {
    width: 30px;
}
#orders > .order > .status > :nth-child(6) {
    width: 40px;
}
#orders > .order > .status > :nth-child(7) {
    width: 60px;
}
#orders > .order > button {
    width: 100px;
    height: 20px;
    background: none;
    border: none;
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: 700;    
    font-size: 13px;
    position: absolute;
    top: 17px;
    right: 8px;
    left: auto;
}
#orders > .order > button:focus {
    outline: none;
}
#orders > .order > button > img {
    width: 13px;
    height: 14px;
}
.active {
    color: #C45061;
}
.disactive {
    color: #000;
}
#orders > .order_description {
    width: 100%;
    height: 203px;
    background-color: #D6C4B5;
    border-radius: 7px;
    margin-top: 12px;
    position: relative;
}
#orders > .order_description > .head {
    width: 100%;
    height: 47px;
    background-color: #C45061;
    padding: 15px 20px 15px 50px;
    border: none;
    border-radius: 7px 7px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#orders > .order_description > .head > p {
    margin-bottom: 0;
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: 400;    
    font-size: 13px; 
    text-align: center;
    color: #fff;
}
#orders > .order_description > .head > :nth-child(1) {
    width: 100px;
    height: auto;
}
#orders > .order_description > .head > :nth-child(2) {
    width: 96px;
}
#orders > .order_description > .head > :nth-child(3) {
    width: 200px;
}
#orders > .order_description > .head > :nth-child(4) {
    width: 71px;
}
#orders > .order_description > .head > :nth-child(5) {
    width: 100px;
}
#orders > .order_description > .head > :nth-child(6) {
    width: 37px;
}
#orders > .order_description > .head > :nth-child(7) {
    width: 66px;
}
#orders > .order_description > .info {
    width: 100%;
    padding: 15px 20px 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#orders > .order_description > .info > p {
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: 400;    
    font-size: 14px; 
    text-align: center;
}
#orders > .order_description > .info > :nth-child(1) {
    width: 100px;
    height: auto;
}
#orders > .order_description > .info > :nth-child(2) {
    width: 96px;
}
#orders > .order_description > .info > :nth-child(3) {
    width: 200px;
}
#orders > .order_description > .info > :nth-child(4) {
    width: 71px;
}
#orders > .order_description > .info > :nth-child(5) {
    width: 100px;
}
#orders > .order_description > .info > :nth-child(6) {
    width: 37px;
}
#orders > .order_description > .info > :nth-child(7) {
    width: 66px;
}
#orders > .order_description > p {
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: 400;    
    font-size: 14px; 
}
#orders > .order_description > :nth-child(3) {
    font-size: 13px;
    position: absolute;
    left: 8px;
    right: auto;
    top: 135px; 
}
#orders > .order_description > :nth-child(4) {
    font-size: 13px;
    position: absolute;
    right: 14px;
    left: auto;
    top: 135px; 
}
#orders > .order_description > :nth-child(5) {
    position: absolute;
    left: 8px;
    right: auto;
    top: 177px; 
}
#orders > .order_description > :nth-child(6) {
    position: absolute;
    left: 269px;
    right: auto;
    top: 177px; 
}